<!DOCTYPE html>
<html>
  <head>
    <title>Jarishop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= yield :stylesheets%>

    <% if Rails::VERSION::STRING[0].to_f < 6 %>
      <%= javascript_include_tag 'application', "data-turbolinks-track" => true %>
    <% else %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% end %>
    
  </head>

  <body>
  <%= render 'layouts/menu' %>
  <div class="container" >
      <% unless flash[:notice].blank? %>
        <div class="alert alert-info"><%= flash[:notice] %></div>
      <% end -%>
      
    <%= yield %>
  </div>


  
  </body>
</html>
